<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div layout:fragment="site_content">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <form th:action="@{'/saveitem'}" method="post">
                <input th:type="hidden" name="item_id" th:value="${item.id}">
                <div class="form-group">
                    <label th:text="#{label.name}">

                    </label>
                    <input type="text" class="form-control" name="item_name" th:value="${item.name}">
                </div>
                <div class="form-group">
                    <label th:text="#{label.price}">
                    </label>
                    <input type="number" class="form-control" name="item_price" value="0" max="100000000" min="0"
                           th:value="${item.price}">
                </div>
                <div class="form-group">
                    <label th:text="#{label.amount}">
                    </label>
                    <input type="number" class="form-control" name="item_amount" value="0" max="1000000" min="0"
                           th:value="${item.amount}">
                </div>
                <div class="form-group">
                    <label th:text="#{label.country}">
                    </label>
                    <select class="form-control" name="country_id">
                        <option th:each="cnt : ${countries}" th:text="${cnt.name} + '/' + ${cnt.code}"
                                th:value="${cnt.id}"
                                th:selected="${item!=null && item.countries!=null&&item.countries.id == cnt.id}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" th:text="#{button.save}"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-5" id="categoriesDiv">
        <div class="col-6 offset-3">
            <table class="table table-stripped">
                <tbody>
                    <tr th:each="cat : ${item.categories}">
                        <form th:action="@{'/deletecategory'}" method="post">
                            <input type="hidden" th:value="${item.id}" name="item_id">
                            <input type="hidden" th:value="${cat.id}" name="category_id">
                            <td th:text="${cat.name}"></td>
                            <td width="10%">
                                <button class="btn btn-danger btn-sm"> - </button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <table class="table table-stripped">
                <tbody>
                    <tr th:each="cat: ${categories}">
                        <form th:action="@{'/assigncategory'}" method="post">
                            <input type="hidden" th:value="${item.id}" name="item_id">
                            <input type="hidden" th:value="${cat.id}" name="category_id">
                            <td th:text="${cat.name}"></td>
                            <td width="10%">
                                <button class="btn btn-success btn-sm"> +</button>
                            </td>
                        </form>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>